.app-container {
    // padding-block-start: 105px;
    width: 100%;
}

.button__cta {
    flex: 1;
    margin-block: 8rem;

    .btn {
        background: var(--color-primary-blend);
        border-radius: 0.9rem;
        border: none;
        box-shadow: var(--shadow-light);
        color: #181e3a;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
        min-width: 12.2rem;
        padding: 1.8rem 3rem;

        &:hover {
            background-color: var(--color-primary-blend-dark);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.8rem rgba(224, 221, 2, 0.68);
        }
    }

}


.button__cta.sm {
    flex: 1;
    margin-block: 0;
    text-align: center;

    .btn {
        background: var(--color-primary-blend);
        font-size: 1.6rem;
        font-weight: 500;
        min-width: 12.2rem;
        padding: 1.3rem 1rem;

        &:hover {
            background-color:  var(--color-primary-blend-dark);
        }
    }
}

.cta-section {
    text-align: center;
}
