.app-container {
    padding-block-start: 105px;
    width: 100%;
}

.button__cta {
    flex: 1;
    margin-block: 80px;
    text-align: center;

    .btn {
        background: #FED700;
        border-radius: 4px;
        border: none;
        box-shadow: 0 4px 26px 5px rgba(#000, 0.10);
        color: #181e3a;
        cursor: pointer;
        font-size: 24px;
        min-width: 122px;
        padding: 18px 60px;
    }
}


.button__cta.sm {
    flex: 1;
    margin-block: 0;
    text-align: center;

    .btn {
        background: #FED700;
        font-size: 16px;
        font-weight: 500;
        min-width: 122px;
        padding: 13px 10px;
    }
}
