.footer {
    background-color: var(--background-color-dark);
    margin-top: auto;
    padding-block: 32px;

    .footer__container {
        align-items: center;
        display: flex;
        height: 140px;
        justify-content: space-around;
        margin: 0 auto;
        padding-inline: 16px;

        @media (min-width: 576px){
            max-width: 1200px;
        }
    }

    &__aside {
        color: var(--color-white);
        font-size: 32px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        a {
            color: var(--color-white);
            line-height: 1.5;
            text-decoration: none;

            &:hover {
                color: #FED700;
            }
        }

        ul {
            border-left: 1px solid #FED700;
            list-style: none;
            margin: 0;
            padding-left: 20px;
        }
    }

    &__legal {
        font-size: 14px;
        margin-block: 16px;
    }
}
