.footer {
    background-color: var(--background-color-dark);
    padding-block: 32px;
    margin-top: auto;

    .footer__container {
        margin: 0 auto;
        padding-inline: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;

        @media (min-width: 576px){
            max-width: 1200px;
        }
    }

    &__img {
        width: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-block: 16px;

        a {
            color: var(--color-white);
            text-decoration: none;
            line-height: 1.5;

            &:hover {
                color: #FED700;
            }
        }

        ul {
            border-left: 1px solid #FED700;
            padding-left: 20px;
            list-style: none;
            margin: 0;
        }
    }

    &__legal {
        font-size: 14px;
        margin-block-start: 24px;
    }
}
