.home {
    &-hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80rem;
        position: relative;

        .container {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            margin: auto;
            padding-inline: 1.6rem;
            width: 100%;

            @media (min-width: 576px){
                max-width: 1200px;
            }

            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
                flex-flow: column-reverse;
            }
        }

        &__page-title {
            color: var(--color-white);
            font-size: 6.2rem;
            text-align: center;
        }

        &__info {
            color: var(--color-white);

            @media only screen and (max-width: $bp-medium) {
                // text-align: center;
                // margin: 4.8rem;
            }

            @media only screen and (max-width: $bp-small) {
                // margin: 2.4rem;
            }

            &-title {
                font-size: 4.4rem;
                line-height: 1.05;
                margin-block: 3.2rem;
            }
            &-text {
                font-size: 2rem;
                line-height: 1.6;
            }
        }
    }

    &__img-container {
        display: flex;
        justify-content: center;
        margin: 8rem auto;
        padding-inline: 1.6rem;
    }

    &__img-image {
        border-radius: 1.8rem;
        border: 1px solid var(--color-primary-dark);
        min-width: 50rem;
        object-fit: contain;
        width: 116rem;

        @media only screen and (max-width: $bp-smallest) {
            min-width: 35rem;
        }
    }

    &-benefit {
        margin: 0 auto;
        padding-inline: 1.6rem;

        @media (min-width: 576px){
            max-width: 1200px;
        }

        &__title {
            font-size: 4.4rem;
            margin-block-end: 6.4rem;
            text-align: center;
            color: var(--color-primary);
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2.4rem;

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 1.6rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-template-columns: 1fr;
                grid-gap: 1rem;
            }
        }

        &__list-item {
            border-radius: 0.8rem;
            box-shadow: var(--shadow-light);
            font-size: 1.6rem;
            display: flex;
            padding: 1.6rem;

            .icon {
                margin-right: 1.6rem;
                max-width: 3.9rem;
                max-height: 3.9rem;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .details {
                h5 {
                    color: var(--color-grey-dark-1);
                    font-size: 1.8rem;
                    margin-block-end: 1.6rem;
                }

                p {
                    line-height: 1.6;
                }
            }
        }
    }
}
