.header {
    background-color: var(--background-color-dark);
    left: 0;
    max-height: 118px;
    position: fixed;
    right: 0;
    z-index: 999;

    &__logo {
        width: 100px;
        height: 100px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    .container {
        margin: auto;
        // padding: 16px;
        width: 100%;

        @media (min-width: 576px){
            max-width: 1200px;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__aside {
        a {
            color: var(--color-white);
            font-size: 32px;
        }
    }

    &__content {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-inline-start: 60px;
    }

    &__nav {
        width: 60%;
        // deal with the responsive later
        // @media only screen and (max-width: 707px) {
        //     ul {
        //         // background-color: red;
        //         flex-direction: column;
        //         height: 100px;
        //     }
        // }
    }
    &__nav-access {
        width: 30%;
    }

    &__nav, &__nav-access {
        & > ul {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 0;
            position: relative;

            .active {
                border-bottom: 2px solid #FED700;
                color: #FED700;
                margin-top: -3px;
                padding-bottom: 8px;
            }
        }

        a {
            color: var(--color-white);
            font-size: 16px;
            font-weight: 500;

            &:hover {
                color: #FED700;
            }
        }

        .btn {
            background: #FED700;;
            border-radius: 4px;
            border: 1px solid #384062;
            color: #181e3a;
            min-width: 122px;
            padding: 13px 10px;
        }
    }
}
