.price-action {
    &__container {
        margin: 60px auto;

        @media (min-width: 576px){
            max-width: 1200px;
        }
    }

    &__type {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__types {
        h3 {
            font-size: 24px;
            margin-block: 48px;
        }
    }

    &__image {
        border-radius: 8px;
        border: 1px solid var(--background-color-dark);
        max-width: 900px;
        min-width: 350px;
        object-fit: contain;
    }
}
