.price-action {
    &__container {
        margin: 6rem auto;

        @media (min-width: 576px){
            max-width: 1200px;
        }
    }

    &__type {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__types {
        h3 {
            font-size: 2.4rem;
            margin-block: 4.8rem;
        }
    }

    &__image {
        border-radius: 8px;
        border: 1px solid var(--color-primary-dark);
        max-width: 90rem;
        min-width: 35rem;
        object-fit: contain;

        @media only screen and (max-width: $bp-medium) {
            max-width: 70rem;
        }

        @media only screen and (max-width: $bp-small) {
            max-width: 50rem;
        }
    }
}
