.user-reviews {
    display: flex;
    margin: 0 auto;

    @media (min-width: 576px){
        max-width: 1200px;
    }
}

.review {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--shadow-light);
    display: flex;
    margin-bottom: 3.5rem;
    margin-inline: 1.3rem;
    overflow: hidden;
    padding: 2rem;
    position: relative;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

    &__box {
        margin-inline-end: 2.4rem;

        @media only screen and (max-width: $bp-small) {
            margin-block-end: 2.4rem;
        }
    }

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 3rem;
        padding: 2rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__text {
        line-height: 1.5;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;
    }

    &__user {
        align-items: center;
        display: flex;
    }

    &__photo {
        border-radius: 50%;
        height: 6.4rem;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: .8rem;
        text-transform: uppercase;
    }

    &__user-date {
        color: var(--color-grey-dark-3);
        font-size: 1.4rem;
    }

    &::before {
        color: var(--color-grey-light-2);
        content: "\201C";
        font-family: sans-serif;
        font-size: 20rem;
        left: -1rem;
        line-height: 1;
        position: absolute;
        top: -2.75rem;
        z-index: 1;
    }

    &__img {
        border-radius: 8px;
        border: 1px solid var(--color-primary-dark);
        height: 20.5rem;
        object-fit: contain;

        @media only screen and (max-width: $bp-medium) {
            min-width: 25.5rem;
        }
    }
}
